/////////////////////////////////////////
// COLORS VARIABLES
$text-color: hsl(0, 0%, 100%);
$background-color: hsl(0, 0%, 100%);
$background-linear-gradient: hsl(198, 34%, 27%);
$background-linear-gradient-1: hsl(194, 21%, 16%);
$background-linear-gradient-2: hsl(197, 50%, 11%);
$track-color: hsl(0, 0%, 95%);
$thumb-color: hsl(0, 0%, 53%);
$thumb-hover: hsl(0, 0%, 33%);
$button-color: hsl(0, 0%, 78%);
$operator-color: hsl(0, 0%, 50%);
$box-shadow: hsla(0, 0%, 0%, 0.6);
$black-color: hsl(0, 0%, 0%);
$equal-sign-color: hsl(143, 88%, 43%);
$clear-color: hsl(0, 100%, 58%);

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}