/////////////////////////////////////////
// CUSTOM SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $track-color;
}

::-webkit-scrollbar-thumb {
  background: $thumb-color;

  &:hover {
    background: $thumb-hover;
  }
}

// BUTTONS 
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}